
<div class="header">
  <%= link_to "< Pokédex", root_path %>
</div>

<div class="two-columns">
  <div class="">
    <h3 class="">You hear a rustle in the tall grass... a wild <%= @pokemon.name %> appears!</h3>
    <%= render "pokemon", pokemon: @pokemon %>
  </div>
  <div class="">
    <%= render "form" %>
  </div>
</div>
