<div class="container">
  <div class="header">
    <%= link_to "< Pokédex", root_path %>
    <h1>Meet the trainers</h1>
  </div>

  <div class="grid">
    <% @trainers.each do |trainer| %>
      <%= render "trainer", trainer: trainer %>
    <% end %>
  </div>

  <div>
    <%= link_to "New Trainer", new_trainer_path %>
  </div>
</div>
